{% extends "base.html" %}
{% load static %}
{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Materiais de Estudo</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	
<section id="content">
	<div class="container">	
		<div class="row">
			<div class="col-lg-4">
				<aside class="left-sidebar">
					<div class="widget">
						<h2 style="margin-left:20px">Materiais de Estudo</h2>
	
						<form class="form-search">
							<input class="form-control" type="text" placeholder="Search..">
						</form>
					</div>
					<div class="btn-group"> 
						<a class="btn btn-theme" href="{% url 'upload' %}">Enviar Material</a>
					</div>
				</aside>
			</div>
	<!-- Paginator-->
		 {% if is_paginated %}
			<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		        {% endif %}
		
		        <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>
		
		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
		{% endif %}
	<!-- EndPaginator-->
			<div class="col-lg-8">
				{% for object in file_list %}
				<section>
					<div  class="box">
						<div class="box-gray">
							<h3><a href="{% url 'files' %}"> {{ object.name }} </a></h3>
							<p>{{ object.desc }} </p>
							
						</div>
					</div>
					<div class="bottom-article">
							<ul class="meta-post">
								<li><i><a href="#">Professor: {{ object.prof.name }}</a></li>
								<li><i class="icon-calendar"></i><a href="#"> {{ object.pub_date }}</a></li>
								<li><i class="icon-user"></i><a href="#"> {{ object.user.user }} </a></li>
								<li><i class="icon-folder-open"></i><a href="#"> Materia</a></li>
								<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
							</ul>
							<a href="#" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
						</div>
				</section>
					{% empty %}
						<h1>Não existem arquivos no banco de dados.</h1>
					{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock body %}