{% extends "base.html" %}
{% load static %}
{% block body %}

		<div class="container col-lg-4">
			{% if user.username == requested_user.username %}
		        <a href="javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" aria-label="Change your avatar" class=""><img alt="" class="avatar" height="230" src="{% static 'perfis/images/avatar.png' %}" width="230"></a>
			{% else %}
				<img alt="" class="avatar" height="230" src="{% static 'perfis/images/avatar.png' %}" width="230">
			{% endif %}
				
	      	<h1 class="vcard-names">
	  			<span class="vcard-fullname" itemprop="name"> {{requested_user.get_full_name}}</span></br>
	  			
			</h1>
			<p class="lead"><span class="vcard-username" itemprop="additionalName"> {{requested_user.username}}</span></p>
	
		<ul class="unstyled divider">
	    	<li class="vcard-detail"><span class=""></span><a class="email" href="">{{ requested_user.email }}</a></li>
	  		<li class="vcard-detail"><span class=""></span><span>Joined on </span><time class="join-date" datetime="2014-03-26T11:56:04Z" day="numeric" is="local-time" month="short" year="numeric" title="26 de mar de 2014 08:56 BRT">26 Mar 2014</time></li>
		</ul>
	
	    <div class="">
	        <a href="#">
	          <strong>2</strong>
	          <span>Followers</span>
	        </a>
	        <a href="#">
	          <strong>2</strong>
	          <span>Starred</span>
	        </a>
	        <a href="#">
	          <strong>4</strong>
	          <span>Following</span>
	        </a>
	    </div>
	
	    </div>
		
		<div class="col-lg-6 container">
			<!--<h4>Tab</h4>-->
			<ul class="nav nav-tabs">
				{% if user.username == requested_user.username %}
					<div style="float: right;">
		                <a href="/account" class="btn btn-theme">
		                	Edit profile
		                </a>
		         	</div>
				{% endif %}
				<li class="active"><a href="#one" data-toggle="tab"><i class="icon-briefcase"></i> Contruibutions</a></li>
				<li class=""><a href="#two" data-toggle="tab">Downloaded</a></li>
				<li class=""><a href="#three" data-toggle="tab">Comments</a></li>
			</ul>
							
			<div class="tab-content">
				<div class="tab-pane active" id="one">
					<p>
						<strong>Augue iriure</strong> dolorum per ex, ne iisque ornatus veritus duo. Ex nobis integre lucilius sit, pri ea falli ludus appareat. Eum quodsi fuisset id, nostro patrioque qui id. Nominati eloquentiam in mea.
					</p>
					<p>
						No eum sanctus vituperata reformidans, dicant abhorreant ut pro. Duo id enim iisque praesent, amet intellegat per et, solet referrentur eum et.
					</p>
				</div>
				<div class="tab-pane" id="two">
					<p>
						Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
					</p>
				</div>
				<div class="tab-pane" id="three">
					<p>
						Cu cum commodo regione definiebas. Cum ea eros laboramus, audire deseruisse his at, munere aeterno ut quo. Et ius doming causae philosophia, vitae bonorum intellegat usu cu.
					</p>
				</div>
			</div>
		</div>
		
		{% if user.username == requested_user.username %}
			<div id="light" class="white_content">
				<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class='close'>X</a>
				<h2>Mude seu avatar!</h2>
				<form action="{% url 'exibir_perfil' requested_user.username %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				    <input type="file" name="new_avatar">
					<input type="submit" class='btn btn-info btn-lg btn-block' id='avatar-submit' value='Enviar'>
				</form>
			</div>
	    	<div id="fade" class="black_overlay"></div>
		{% endif %}
	
{% endblock body %}